[submodule "pack/bundle/opt/vim-pathogen"]
	path = pack/bundle/opt/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "pack/bundle/start/base16-vim"]
	path = pack/bundle/start/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "pack/bundle/start/pinnacle"]
	path = pack/bundle/start/pinnacle
	url = https://github.com/wincent/pinnacle.git
[submodule "pack/bundle/start/vim-git"]
	path = pack/bundle/start/vim-git
	url = https://github.com/tpope/vim-git.git
